<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <span class="badge bg-warning text-black">"DOM" & "CP"</span>
    </a>
    <span class="justify-content-end">
      <button class="btn btn-warning mx-2" routerLink="/dom">
        DOM-Manipulation
      </button>
      <button class="btn btn-warning mx-2" routerLink="/contentProjection">
        Content-Projection
      </button>
    </span>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
